body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    clear: both;
    background-color: #92BDA3;
}

.navbar {
    overflow: hidden;
    background-color: #3B4D2D;
}

.navbar a {
    float: left;
    color: #A5CC6B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.secondary-navbar {
    overflow: hidden;
    background-color: #293620;
}

.secondary-navbar a {
    float: left;
    color: #A5CC6B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


h1 {
    color: #382633;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3B4D2D;
    text-align: center;
}

footer a {
    color: #A5CC6B;
    text-decoration: none;
}

.signature {
    color: #A5CC6B;
}

.indent {
    margin-left: 25px;
}

.center {
    justify-content: center;
}

.introduction img {
    width: 20%;
}

.simpletable table {
    width: 100%;
    border-collapse: collapse;
}

.simpletable td, th {
    border: 1px solid;
}

.complextable table {
    border-collapse: collapse;
    width: 100%;
}

.complextable td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

.complextable tr:nth-child(even) {
    background-color: #7b9e89;
}

.complextable tr:first-child {
    background-color: #5f7a6a;
}

form {
    background-color: #a6db7d;
}

form input[type=text], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    width: 100%;
    background-color: #FFFF;
    color: gray;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

a {
    color: black;
}

#calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
  }

  #display {
    font-size: 1.5em;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
  }

  button.operator {
    background-color: black;
    color: #fff;
  }

  button.double {
    grid-column: span 2;
  }

  button.clear,
  button.equals {
    background-color: #5bc0de;
    color: #fff;
  }